.footer-social-widget {
    margin-top: 30px;
}

.footer-social-widget > a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    margin-right: 30px;
}

.footer-social-widget > a:hover,
.footer-social-widget > a:focus {
    color: rgba(255, 255, 255, 1);
}

.footer-social-widget > a:last-child {
    margin-right: 0;
}


/*Footer Area CSS */

.fplus-footer-area {
    padding: 40px 0;
    background-color: #040f3c;
    position: relative;
    z-index: 1;
}

.footer-nav-widget ul > li > a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    padding: 5px 0;
    display: block;
}

.footer-nav-widget ul > li > a:hover {
    color: rgba(255, 255, 255, 1);
}

.footer-nav-widget ul{
    padding-left: 0px;
}

.footer-nav-widget{
    width: 11em;
}

.footer-nav-widget p{
    text-transform: uppercase;
}

.subscribe-widget p{
    text-transform: uppercase;
}

.about-us-widget{
    width: 10em;
}

.text-size-12{
    font-size: 12px;
}
.send {
    width: 16px;
    height: 16px;
    background: url("../image/send.png") no-repeat center;
    right: 37px;
    top: 4px;
    border:none;
    position: relative;
  }

  input {
    padding: 12px;
    background: 0;
    color: #fff;
    border: 2px #ffffff77 solid;
    border-radius: 6px;
    padding-right: 40px;
    font-size: 13px;
  }