.accordion-container {
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  outline: 0;
  cursor: pointer;
}

.accordion-container .accordion-title {
  margin: 0;
  padding: 2em;
  font-size: 12px;
  font-weight: bold;
  background: white;
  cursor: pointer;
}

.accordion-container .accordion-title:hover,
.accordion-container .accordion-title:active,
.accordion-container .content-entry.open .accordion-title{
  color:rgb(153, 60, 60);
}

.accordion-container .accordion-title:hover i:before,
.accordion-container .accordion-title:hover i:active,
.accordion-container .content-entry.open i {
  color: rgb(61, 61, 61);
}

.accordion-title{
  position: relative;
}

.accordion-title:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 38%;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 8px;
  height: 8px;
  border-top: solid 2px rgb(68, 68, 68);
  border-right: solid 2px rgb(59, 59, 59);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.accordion-title.open:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 45%;
}

.accordion-content {
  display: none;
  padding:0em 2em;
  font-size: 12px;
  color: rgb(102, 102, 102);
}

/* CSS for CodePen */
.accordion-container {
  width: 350px;
  position: absolute;
  background-color: white;
  top: 27em;
  left: 3em;
}


.profil__card{
  width: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20%;
  margin: 3px;
}

.miniCard-1{
  position: absolute;
  width:18em;
  height: auto;
  border-radius: 10px;
  float: right;
  bottom: 2em;
  right: 3em;
}

.miniCard-2{
  border: 1px solid rgb(214, 214, 214);
  border-radius: 10px;
}

.accordion-content-card {
  display: none;
}

div#accordion h4:first-child{
  border-radius: 10px 10px 0px 0px;
}

div#accordion h4:last-of-type{
 border-radius: 0px 0px 10px 10px;
}