/*Card image*/
.img__card{
    border-radius: 2em;
    height: 14em;
  }
  
  .card-text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  p.card-text span:first-child{
    font-size: 20px;
    font-weight: bold;
  }
  
  .card{
    height: auto;
    width: 350px;
    height: auto;
    border-radius: 1em!important;
    margin: 1em;
    border: none;
  }

  
/*  Checkbox  */

.checkbox {
    -webkit-appearance: none; /*hides the default checkbox*/
    display: block;
    font-size: 10vmin;
    width: 30px;
    height: 30px;
    border: solid 2px #c2c2c2;
    border-radius: 20%;
    cursor: pointer;
  }
  
  .checkbox:focus{
    outline: none;
  }
  
  .checkbox:checked {
    background-color: #d4edda;
    border: solid 2px #d4edda;
  }
  
  .checkbox:checked:before {
    font-family: "FontAwesome";
    content: "\f00c";
    font-size: 17px;
    position: absolute;
    color: #1c7230;
    padding: 0px 1px 2px 4px;
  }
  
  .checkbox:hover {
    cursor: pointer; 
    opacity: 0.8;
  }
  