  /*--------------------------------------------------------------
  # Top Bar
  --------------------------------------------------------------*/
  #topbar {
    padding: 0;
    font-size: 15px;
    height: 50px;
    transition: all 0.5s;
    color: rgba(255, 255, 255, 0.7);
  }
  
  #topbar.topbar-scrolled {
    top: -50px;
  }
  
  #topbar i {
    color: #ffb03b;
  }
  
  #topbar i + i {
    margin-left: 15px;
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    top: 50px;
    height: 70px;
    z-index: 997;
    transition: all 0.5s;
    padding: 10px 0;
    background-color: #040f3c;
  }
  
  #header.header-scrolled {
    top: 0;
    background: rgba(26, 24, 22, 0.85);
  }
  
  #header .logo h1 {
    font-size: 28px;
    margin: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
  }
  
  #header .logo h1 a, #header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  
  @media (max-width: 992px) {
    #header {
      top: 0;
      background: white;
    }
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Desktop Navigation */
  .nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
  }
  
  .nav-menu a {
    display: block;
    position: relative;
    color: white;
    padding: 9px 14px;

    font-size: 12px;

    font-family:"Helvetica Neue LT Std";
  }
  
  .nav-menu a:hover, .nav-menu{
    color: #ffb03b;
    text-decoration: none;
  }
  
  .nav-menu .book-a-table a {
    background: linear-gradient(104deg, #f5710f 0%, #ec3000 100%);
    color: #fff;
    border-radius: 20px;
    margin-left:6em;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    width: 159px;
    height: 40px;
  }
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 100vh;
    background-color: rgba(39, 37, 34, 0.8);
    overflow: hidden;
    padding: 0;
  }
  
  #hero .carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  #hero .carousel-item::before {
    content: '';
    background-color: rgba(12, 11, 10, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  #hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero .carousel-content {
    text-align: center;
  }
  
  #hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
  }
  
  #hero h2 span {
    color: #ffb03b;
  }
  
  #hero p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
  }
  
.searchbox input:focus {
    outline: none; /*by default,input shows an outline on focus */
}
.searchbox input{
    z-index: 0;
    width: 35em;
    height: 40px;
    background:white;
    border-radius: 25px;
    border: 1px solid #949494;
    padding: 1em;
}

.icon-wrap {
    position: relative;
    right: 3em;
    width: 60px;
    height: 100%;
    padding: 6px;
  }
  
 .icon-wrap svg {
    width: 25px;
    height: 25px;
    fill: rgb(143, 143, 143);
  }
